html,body{
	background-color: rgb(230,230,230);
}
#menu{
	background-color: rgb(255,255,255);
	color:rgb(50,50,50);
}

.item{
	background-color:white;
	color:black;
}

#visible-list-select{
	border-bottom:5px solid rgb(50,50,50);
}

.list-select-option{
	border-bottom:2px solid rgb(50,50,50);
}


.mnbtn{
	color:rgb(50,50,50);
}

#list-select-not-selected .list-select-option{
	color:rgb(50,50,50);
	background-color: white;
}

.list-select-option{
	color:rgb(50,50,50);
}

.list-select-title:empty::before{
	color:rgb(100,100,100);
}
.item span i{
	color: rgb(100,100,100);
}

#list-select-not-selected{
	color:rgb(50,50,50);
}

#select-btn{
	color:rgb(50,50,50);
}
#rich-text-editor{
	background-color: white;
}
.text-editor-btn{
	color:rgb(50,50,50);
}
